.settings-section {
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.settings-section .form-group {
	margin-top: 1em;
	margin-bottom: 1em;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.settings-section .form-group .form-label {
	flex-shrink: 0;
	font-weight: bold;
	margin-right: .5em;
	width: 15em;
	font-size: 85%;
}

.settings-section .form-group .form-control {
	flex-grow: 1;
}

.photo-selection-control {
	display: flex;
}

.photo-selection-control .foto-figure {
	flex-shrink: 0;
	width: 10em;
	margin: .5em 2em .5em .5em;
}

.photo-selection-control .foto-image {
	display: block;
	width: 100%;
	height: auto;
}

.order-list {
	margin-left: 0;
	counter-reset: order;
}

.order-list .order-item {
	counter-increment: order;
	display: block;
	padding: .5em 1em;
	background-color: #fff;
	cursor: move;
	/*box-shadow: 0 0 .5em rgba( 0, 0, 0, .25 );*/
	border: 1px solid #7e8993;
	border-radius: 4px;
	margin-top: .5em;
	margin-bottom: .5em;
	box-sizing: border-box;
}

.order-list .order-item:hover {
	border-color: #4caaff;
}

.order-list .order-item::before {
	content: counter( order );
	display: inline-block;
	width: 2em;
	margin-right: .5em;
	font-weight: bold;
	font-size: 85%;
}